{{- define "kubelet-monitor" -}}
- name: kubelet-monitor.service
  command: start
  enable: true
  content: |
    [Unit]
    Description=Kubelet-monitor daemon
    After=docker-monitor.service
    [Install]
    WantedBy=multi-user.target
    [Service]
    Restart=always
    EnvironmentFile=/etc/environment
    {{- if .Values.worker.cri }}
    {{- if eq .Values.worker.cri.name "containerd" }}
    ExecStartPre=/bin/sh -c '/usr/bin/ctr i pull {{ required "images.hyperkube is required" .Values.images.hyperkube }} && /usr/bin/ctr run --rm --mount type=bind,src=/opt/bin,dst=/opt/bin/,options=rbind:rw {{ required "images.hyperkube is required" .Values.images.hyperkube }} lisa cp /usr/local/bin/kubectl /opt/bin/'
    {{- end }}
    {{- else }}
    {{- if semverCompare "< 1.17" .Values.kubernetes.version }}
    ExecStartPre=/usr/bin/docker run --rm -v /opt/bin:/opt/bin:rw {{ required "images.hyperkube is required" .Values.images.hyperkube }} /bin/sh -c "cp /usr/local/bin/kubectl /opt/bin"
    {{- else }}
    ExecStartPre=/usr/bin/docker run --rm -v /opt/bin:/opt/bin:rw --entrypoint /bin/sh {{ required "images.hyperkube is required" .Values.images.hyperkube }} -c "cp /usr/local/bin/kubectl /opt/bin"
    {{- end }}
    {{- end }}
    ExecStart=/opt/bin/health-monitor kubelet
{{- end -}}